<div class="User">
    {{#if name}}
        Welcome <span class="Username">{{name}}</span> <a href="#" class=>Logout</a>
    {{else}}
        <a href="https://api.dailymile.com/oauth/authorize?response_type=token&client_id=usnQ1sbDnRNf7G97a1wfJBpy3kizQ1hY5rQmCOoP&redirect_uri=http://adammcelwee.com/oauth.html">Login</a>
    {{/if}}
</div>